.Header{
	border-bottom: 1px inset black;
	color: #6d6d6d;
	display:flex;
	justify-content: center;
	align-items: center;
	height: 4rem;	
}

.Header h3{
	justify-content: flex-start;
	text-align:left;
	margin-top: 0; 
	margin-bottom: 0; 
}

.Toolbar nav{
	height:100%;
	min-width: 25%;
}

@media (max-width: 499px){
	.DesktopOnly{
		display:none; 
	}
}

/* Not needed if we set a max-width on NavigationItem */
@media screen and (min-width:500px) and (max-width: 920px){
	.Header{
		/*justify-content: flex-start;
		padding-left: 8px;*/
	}
}