.DeviceInformationListContainer{
	height: auto;
	padding: 1%;
	background-color: white; 
	max-width: 31%;
	/*height: auto;*/
	height: 185px;
	overflow-y: auto;
	display:flex; 
	flex-grow: 1;
	justify-content: space-between;
	flex-direction: column;
}

@media screen and (max-width: 768px) {
  .DeviceInformationListContainer {
    max-width: 100%;
    margin-bottom: 2%;
  }
}